<footer>
    <div id="logo-footer"><a href="/"><img src="/img/Logos/logo-negro.png" alt="Logo" class="logo"></a></div>
    <div id="caja-footer">
        <div id="prod-footer">
            <h2>Productos</h2>
            <ul>
                <li><a href="/products/autos" style="text-decoration: none">Autos</a></li>
                <li><a href="/products/motos" style="text-decoration: none">Motos</a></li>
                <li><a href="/products/monopatines" style="text-decoration: none">Monopatines</a></li>
            </ul>
        </div>
        <div id="noso-footer">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="#" style="text-decoration: none">Enlace 1</a></li>
                <li><a href="#" style="text-decoration: none">Enlace 2</a></li>
                <li><a href="#" style="text-decoration: none">Enlace 3</a></li>
            </ul>
        </div>
        <div id="redes-footer">
            <h2>Redes Sociales</h2>
            <ul>
                <li><a href="#" style="text-decoration: none">Facebook</a></li>
                <li><a href="#" style="text-decoration: none">Twitter</a></li>
                <li><a href="#" style="text-decoration: none">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>