<footer>
    <div id="logo-footer"><a href="http://localhost:3030/"><img src="/img/Logos/logo-negro.png" alt="Logo" class="logo"></a></div>
    <div id="caja-footer">
        <div id="prod-footer">
            <h2>Productos</h2>
            <ul>
                <li><a href="http://localhost:3030/Auto" style="text-decoration: none">Auto</a></li>
                <li><a href="#" style="text-decoration: none">Moto</a></li>
                <li><a href="#" style="text-decoration: none">Monopatin</a></li>
            </ul>
        </div>
        <div id="noso-footer">
            <h2>Nosotros</h2>
            <ul>
                <li><a href="#" style="text-decoration: none">Enlace 1</a></li>
                <li><a href="#" style="text-decoration: none">Enlace 2</a></li>
                <li><a href="#" style="text-decoration: none">Enlace 3</a></li>
            </ul>
        </div>
        <div id="redes-footer">
            <h2>Redes Sociales</h2>
            <ul>
                <li><a href="#" style="text-decoration: none">Facebook</a></li>
                <li><a href="#" style="text-decoration: none">Twitter</a></li>
                <li><a href="#" style="text-decoration: none">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>