<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/3eaccf5d38.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/Header.css">
        <title>Header</title>
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <div class="caja-logo">
                    <a href="http://localhost:3030/"><img src="/img/Logos/logo-negro.png" alt="Logo" class="logo"></a>
                </div>
                <form action="#" method="GET" class="busqueda">
                    <input type="search" placeholder="Buscar" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <a href="#" class="hamburguer-button"><i class="fa fa-bars burger"></i></a>
            <div class="navbar-prod">
                    <ul class="left-navbar">
                        <li><a href="http://localhost:3030/auto">Auto</a></li>
                        <li><a href="#">Moto</a></li>
                        <li><a href="#">Monopatin</a></li>
                    </ul>
            </div>
            <div class="iconos">
                    <ul class="right-navbar">
                        <li><a href="#"><i class="fas fa-search fa-2x"></i></a></li>
                        <li><a href="http://localhost:3030/cart"><i class="fas fa-shopping-cart fa-2x"></i></li>
                        <li><a href="http://localhost:3030/sigin"><i class="far fa-user fa-2x"></i></a></li>
                    </ul>
            </div>
        </header>

        </body>
</html>
