 <link rel="stylesheet" href="/css/styles.css">
        
  <header class="main-header">
      <div class="main-header-top-bar">
          <div class="caja-logo">
              <a href="/"><img src="/img/Logos/logo-blanco.png" alt="Logo" class="logo"></a>
          </div>
          <form action="#" method="GET" class="busqueda">
              <input type="search" placeholder="Buscar" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
          </form>
      </div>
      <a href="#" class="hamburguer-button"><i class="fa fa-bars burger"></i></a>
      <div class="navbar-prod">
              <ul class="left-navbar">
                  <li><a href="/products/auto" >Autos</a></li>
                  <li><a href="/products/moto">Motos</a></li>
                  <li><a href="/products/monopatin">Monopatines</a></li>
              </ul>
      </div>
      <div class="iconos">
              <ul class="right-navbar">
                  <!--li><a href="#"><i class="fas fa-search fa-2x"></i></a></li>
                  <li><a href="/cart"><i class="fas fa-shopping-cart fa-2x"></i></li-->
                  <li><a href="/user/login"><i class="far fa-user fa-2x"></i></a></li>
              </ul>
      </div>
  </header>