<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/3eaccf5d38.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/Cartprov.css">    
        <title>Cart</title>
    </head>
<body>
    <%- include("./partials/header") %>

    <!--Codigo provisorio maqueteado de carrito(cartprov.css)-->
    <div>
    <table>
        <tr>
          <th>Item</th>
          <th></th>
          <th>Precio P/unidad</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th></th>
        </tr>
        <tr>
          <td class="product-img" id="imagen"><img id="product-img" src="/img/auto/auto.jpg" alt="Producto" >   </td>
          <td>Auto QZ</td>
          <td>$ 100.000</td>
          <td>+1-</td>
          <td>$ 100.000</td>
          <td><button class="btn"><i class="fa fa-trash"></i> </button></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="total">Total:$ 100.000</td>
         
          <td></td>
        </tr>
      </table>
    </div>
        <div class="contenedor">
        <div class="botones">
            <a href="http://localhost:3030" style="text-decoration: none"><input class="button-suscribe" type="button" value="Seguir comprando"></a>
                <input class="button-suscribe" type="submit" value="Ir a pagar">
       </div>
    </div>
</div>

<%- include("./partials/footer") %>
</body>
</html>