<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/createProduct.css">

        <title>Crear producto</title>
    </head>
    <body>
        <header>
            <h1>Poner link al modulo de header</h1>
        </header>
        <main>
            <h1> Crear producto</h1>
            <form action="/" method="POST">
                <h2>Datos generales</h2>
                <div>
                    <label>Titulo del producto:</label>
                    <input type="text" placeholder="nombreProducto" required>
                </div>
                <div>
                    <h3>Categoria</h3>
                    <input type="radio" name="auto" value="auto">
                    <label for="auto">Auto</label><br>
                    <input type="radio" name="moto" value="moto">
                    <label for="moto">Moto</label><br>
                    <input type="radio" name="monopatin" value="monopatin">
                    <label for="monopatin">Monopatin</label>
                </div>
                <div>
                    <br>
                    <label>Precio:</label>
                    <input type="text" placeholder="nombreProducto" required>
                </div>
                
                
                <h2>Secccion principal</h2>
                <div>
                    <label>Imagen principal:</label>
                    <input type="file" name="ImagenPrincipal" required>
                </div>
                <div>
                    <h3>Característica 1</h3>
                    <input type="text" placeholder="Título" name="CaracteristicaDestacada1-titulo" required>
                    <input type="text" placeholder="Descripción" name="CaracteristicaDestacada1-descripcion" required>
                </div>
                <div>
                    <h3>Característica 2</h3>
                    <input type="text" placeholder="Título" name="CaracteristicaDestacada2-titulo" required>
                    <input type="text" placeholder="Descripción" name="CaracteristicaDestacada2-descripcion" required>
                </div>
                <div>
                    <h3>Característica 3</h3>
                    <input type="text" placeholder="Título" name="CaracteristicaDestacada3-titulo" required>
                    <input type="text" placeholder="Descripción" name="CaracteristicaDestacada3-descripcion" required>
                </div>

                <h2>Secciones secundarias</h2>
                <div>
                    <h3>Sección 1</h3>
                    <input type="text" placeholder="Título" name="Seccion1-titulo" required>
                    <input type="text" placeholder="Descripción" name="Seccion1-descripcion" required>
                    <input type="file" name="Seccion1-imagen" required>
                </div>

                <div>
                    <h3>Sección 2</h3>
                    <input type="text" placeholder="Título" name="Seccion2-titulo" required>
                    <input type="text" placeholder="Descripción" name="Seccion2-descripcion" required>
                    <input type="file" name="Seccion2-imagen" required>
                </div>

                <div>
                    <h3>Sección 3</h3>
                    <input type="text" placeholder="Título" name="Seccion3-titulo" required>
                    <input type="text" placeholder="Descripción" name="Seccion3-descripcion" required>
                    <input type="file" name="Seccion3-imagen" required>
                </div>
                

                <div>
                    <input type="submit" value="Crear cuenta">
                </div>

            </form>

            <p class="line">___________________________________</p>

            <div id="div-buttons">
                <a href="http://localhost:3030/login" style="text-decoration: none"><input id="button-other" type="button" value="Ingresar"></a>
            </div>
        </section>
    </body>
</html>