<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/Home.css">
        <title>Auto</title>
    </head>
<body>
    <header class="header">
        <div>
        <a href="http://localhost:3030/" class="logo-principal"><img src="/img/Logos/logo-negro.png" alt="Logo"></a>
        </div>    
        <nav>
            <ul>
                    <a href="http://localhost:3030/auto" style="text-decoration: none;" class="item">Auto</a>
                    <a href="#" style="text-decoration: none;" class="item">Moto</a>
                    <a href="#" style="text-decoration: none;" class="item">Monopatin</a>
            <icon>
                <img src='/img/Iconos/Lupa.png' alt ="iconolupa">
                <img src='/img/Iconos/Carrito.png' alt ="iconocarrito ">
                <a href="http://localhost:3030/sigin"> <img src='/img/Iconos/account.png' alt ="iconocuenta"></a>
            </icon>
            </ul>
        </nav>
    </header>
<!-- De aca para abajo -->
        <section>
            <article class="auto"> 
                <h1 class="title-product-home">Producto</h1>
                <p class="descripcion-product-home">
                    info del producto</p>
                <a href=""><input id="button-home" type="button" value="Ver mas" ></a>
            </article>
            <!--article>
                <img class="moto">
                <h1>Producto</h1>
                <p>info del producto</p>
            </article>
            <article>
                <img class="monopatin">
                <h1>Producto</h1>
                <p>info del producto</p>
            </article-->
         </section>
  <div id ="general">
             <div id="auto">   
             </div>
             <div id="moto">   
            </div>
            <div id="monopatin">   
            </div>
         </div>       
        <div id="suscribir">
            <div id="novedades">suscribite para recibir mas novedades</div>
            <div href=""><input id="button-other" type="button" value="Ingresar mail" ></div>
            <div href=""><input id="button-home" type="button" value="Ver mas" ></div>
        </div>
         
    </body>
    <footer>
        <div id="logo-footer"><img src="/img/Logos/logo-negro.png" alt="Logo"></div>
        <div id="caja-footer">
            <div id="prod-footer">
                <h2>Productos</h2>
                <ul>
                    <li><a href="#" style="text-decoration: none">Auto</a></li>
                    <li><a href="#" style="text-decoration: none">Moto</a></li>
                    <li><a href="#" style="text-decoration: none">Monopatin</a></li>
                </ul>
            </div>
            <div id="noso-footer">
                <h2>Nosotros</h2>
                <ul>
                    <li><a href="#" style="text-decoration: none">Enlace 1</a></li>
                    <li><a href="#" style="text-decoration: none">Enlace 2</a></li>
                    <li><a href="#" style="text-decoration: none">Enlace 3</a></li>
                </ul>
            </div>
            <div id="redes-footer">
                <h2>Redes sociales</h2>
                <ul>
                    <li><a href="#" style="text-decoration: none">Facebook</a></li>
                    <li><a href="#" style="text-decoration: none">Twitter</a></li>
                    <li><a href="#" style="text-decoration: none">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
</html>