<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Log In</title>
    </head>
    <body>
        
        <a href="http://localhost:3030"><img src="/img/Logos/logo-negro.png" width="12%" height="12%" alt="Logo"></a>
        <h3 class="tittle">Log in</h3>
        <input id="input-login" type="text" required placeholder="Email" ><br>
        <input id="input-login" type="password" required placeholder="Contraseña" ><br><br>
        <input id="button-acept" type="button" value="Ingresar" ><br>
        <a id="olvi" href="" style="text-decoration: none">Olvidé mi Contraseña</a>
        <p class="line">___________________________________</p>
        <a href="http://localhost:3030/sigin" style="text-decoration: none"><input id="button-other" type="button" value="Crear cuenta" ></a>
    </body>
</html>