<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Log In</title>
    </head>
    <body>
        <header>
            <a href="http://localhost:3030"><img src="/img/Logos/logo-negro.png" style="padding: 10px;" width="12%" height="12%" alt="Logo"></a>
        </header>
       
        <section>
            <h3 class="titulo-in">Log in</h3>
            <input id="input-login" type="text" required placeholder="Email"><br>
            <input id="input-login" type="password" required placeholder="Contraseña"><br><br>

            <div id="div-buttons">
                <a href="" style="text-decoration: none"><input id="button-acept" type="button" value="Ingresar"></a>
            </div>
            
            <div id="olvi">
                <a href="" style="text-decoration: none">Olvidé mi Contraseña</a>
            </div>

            <p class="line">___________________________________</p>
            
            <div id="div-buttons">
                <a href="http://localhost:3030/sigin" style="text-decoration: none"><input id="button-other" type="button" value="Crear Cuenta"></a>
            </div>
        </section>
    </body>
</html>