<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/Product.css">
        <title>Auto</title>
    </head>
<body>
    <header class="header">
        <div>
        <a href="http://localhost:3030/" class="logo-principal"><img src="/img/Logos/logo-negro.png" alt="Logo"></a>
        </div>    
        <nav>
            <ul>
                    <a href="http://localhost:3030/auto" style="text-decoration: none;" class="item">Auto</a>
                    <a href="#" style="text-decoration: none;" class="item">Moto</a>
                    <a href="#" style="text-decoration: none;" class="item">Monopatin</a>
            <icon>
                <img src='/img/Iconos/Lupa.png' alt ="iconolupa">
                <img src='/img/Iconos/Carrito.png' alt ="iconocarrito ">
                <a href="http://localhost:3030/sigin"> <img src='/img/Iconos/account.png' alt ="iconocuenta"></a>
            </icon>
            </ul>
        </nav>
    </header>
<!-- De aca para abajo -->
    <article class="section-principal-producto"> 
        <h1 class="title-principal-producto">Producto</h1>
        <p class="subtitulo-principal-producto">
            info del producto</p>
        <a href=""><input id="button-other" type="button" value="Ver mas" ></a>
    </article>

    <footer>
        <div id="logo-footer"><img src="/img/Logos/logo-negro.png" alt="Logo"></div>
        <div id="caja-footer">
            <div id="prod-footer">
                <h2>Productos</h2>
                <ul id="lista-prod">
                    <li><a href="http://localhost:3030/auto" style="text-decoration: none">Auto</a></li>
                    <li><a href="http://localhost:3030/moto" style="text-decoration: none">Moto</a></li>
                    <li><a href="http://localhost:3030/monopatin" style="text-decoration: none">Monopatin</a></li>
                </ul>
            </div>
            <div id="noso-footer">
                <h2>Nosotros</h2>
                <ul>
                    <li><a href="#" style="text-decoration: none">Enlace 1</a></li>
                    <li><a href="#" style="text-decoration: none">Enlace 2</a></li>
                    <li><a href="#" style="text-decoration: none">Enlace 3</a></li>
                </ul>
            </div>
            <div id="redes-footer">
                <h2>Redes sociales</h2>
                <ul>
                    <li><a href="https://www.facebook.com/" style="text-decoration: none">Facebook</a></li>
                    <li><a href="https://twitter.com/" style="text-decoration: none">Twitter</a></li>
                    <li><a href="https://instagram.com/" style="text-decoration: none">Instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>