<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Auto</title>
    </head>
<body>
    <header class="header-producto">
        <a href="http://localhost:3030"><img src="/img/Logos/logo-negro.png" width="100vw" alt="Logo"></a>
        
        <nav class="navigation">  
            <ul class="navigation-list">
                <li class="navigation-item"><a href="#">Producto</a></li>
                <li class="navigation-item"><a href="#">Producto</a></li>
                <li class="navigation-item"><a href="#">Producto</a></li>
            </ul>
            <ul class="navigation-list">
                <li class="navigation-item2"><img src='/img/Logos/magnifier-glass_icon-icons.com_71148.png' alt ="iconolupa"></li>
                <li class="navigation-item2"><img src='/img/Logos/shopping-cart_icon-icons.com_72552.png' alt ="iconocarrito "></li>
                <li class="navigation-item2"><a href="http://localhost:3030/sigin"><img src='/img/Logos/account_icon_138984.png' alt ="iconocuenta"></a></li>
            </ul>
        </nav>
    </header>

    <hr>

    <section class="section-principal-producto">
        <article>
            <h1 class="title-principal-producto"> QZ Auto</h1>
            <p class="subtitulo-principal-producto"> subtitulo del producto</p>
            <a href="http://localhost:3030/sigin"><input id="button-other" type="button" value="Ver más" ></a>
        </article>
    </section>

    <section class="section-gris-producto">
        <article class="section-gris-left">
            <h2 class="title-section-gris-producto">Performance & Autonomía</h2>
            <p class="parrafo-section-gris-producto">Model S sets an industry standard for performance and safety. Tesla’s all-electric powertrain delivers unparalleled performance in all weather conditions – with Dual Motor All-Wheel Drive, adaptive air suspension and ludicrous acceleration.</p>
            <a href="http://localhost:3030/sigin"><input id="button-other" type="button" value="Ver más" ></a>
        </article>
        <article class="section-gris-right">
            <img src="" alt="performance y autonomía" >
        </article>
    </section>

    <footer>
        <div><img src="/img/Logos/logo-negro.png" width="12%" height="12%" alt="Logo"></div>
        <section>
            <h2>Productos</h2>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
        </section>
        <section>
            <h2>Nosotros</h2>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
        </section>
        <section>
            <h2>Redes sociales</h2>
                <ul>
                    <li><a href="#">Enlace 1</a></li>
                    <li><a href="#">Enlace 2</a></li>
                    <li><a href="#">Enlace 3</a></li>
                </ul>
        </section>
    </footer>
</body>
</html>