<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/Product.css">
        <title>Auto</title>
    </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/Logos/logo-negro.png" alt="Logo" class="logo">
            <form action="#" method="GET" class="busqueda">
                <input type="search" placeholder="Buscar" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="#" class="hamburguer-button"><i class="fa fa-bars burger"></i></a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="http://localhost:3030/Auto">Auto</a></li>
                <li><a href="#">Moto</a></li>
                <li><a href="#">Monopatin</a></li>
            </ul>
            <ul class="right-navbar">
                <li><img src='/img/Iconos/Lupa.png' alt ="iconolupa"></li>
                <li><a href="http://localhost:3030/cart"><img src='/img/Iconos/Carrito.png' alt ="iconocarrito "></a></li>
                <li><a href="http://localhost:3030/sigin"> <img src='/img/Iconos/account.png' alt ="iconocuenta"></a></li>
            </ul>
        </nav>
    </header>
    <main>
       <section class="section-principal-producto">
       </section> 
       <section class="section-gris">
        <div>
           <h3>Titulo H3 seccion</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, natus minima enim, molestias porro dignissimos provident illo itaque sed praesentium numquam animi quos similique sint repudiandae impedit, suscipit laudantium? Nulla!</p>
           <a href="http://localhost:3030/login" style="text-decoration: none"><input id="button-product" type="button" value="Agregar al carrito"></a>
        </div>
        <div>
           <img src="/img/moto/motofondo.jpg">
        </div>
       </section>
       <section class="section-blanca">
        <div>
            <img src="/img/moto/motofondo.jpg">
         </div>
        <div>
           <h3>Titulo H3 seccion</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, natus minima enim, molestias porro dignissimos provident illo itaque sed praesentium numquam animi quos similique sint repudiandae impedit, suscipit laudantium? Nulla!</p>
           <a href="http://localhost:3030/login" style="text-decoration: none"><input id="button-product" type="button" value="Agregar al carrito"></a>
        </div>
       </section>
       <section class="section-gris">
        <div>
           <h3>Titulo H3 seccion</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, natus minima enim, molestias porro dignissimos provident illo itaque sed praesentium numquam animi quos similique sint repudiandae impedit, suscipit laudantium? Nulla!</p>
           <a href="http://localhost:3030/login" style="text-decoration: none"><input id="button-product" type="button" value="Agregar al carrito"></a>
        </div>
        <div>
           <img src="/img/moto/motofondo.jpg">
        </div>
       </section>
    </main>
    
</body>
</html>