<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/responsive2.css">
    <title>Document</title>
</head>
<body>
    <ul id="menupc">
        <li>HOME</li>
        <li>CONTACTO</li>
    </ul>
    <form id="menumovil">
        <select>...etc...</select>
    </form>

    <div id="contenedor">
        <div class="bloque">
            <h1>Titulo</h1>
            <h2 id="subtitulos">Titulo H2</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, 
                pariatur impedit. Facere ab in eaque ad animi at adipisci vero 
                deserunt perferendis dolorem porro quae possimus, reiciendis ipsam. 
                Corrupti, quod?</p>
        </div>
        <div class="bloque">
            <h1>Titulo</h1>
            <h2 id="subtitulos">Titulo H2</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, 
                pariatur impedit. Facere ab in eaque ad animi at adipisci vero 
                deserunt perferendis dolorem porro quae possimus, reiciendis ipsam. 
                Corrupti, quod?</p>
        </div>
    </div>
    
</body>
</html>