<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/LogIn.css">
        <link rel="stylesheet" href="/css/SigIn.css">
        <title>Sig In</title>
    </head>
    <body>
        <header class="header-logsin">
            <div>
            <a href="http://localhost:3030/" class="logo-logsin"><img src="/img/Logos/logo-negro.png" alt="Logo"></a>
            </div>    
        </header>
        <section>
            <h3 class="titulo-in"> Crear Cuenta</h3>
            <form action="/" method="POST" class="formulario">
                <input id="input-login" type="text" required placeholder="Nombre" required>
                <input id="input-login" type="text" required placeholder="Apellido" required>
                <input id="input-login" type="email" required placeholder="Email">
                <input id="input-login" type="password" required placeholder="Contraseña" required minlength="8">
                <div class="checkboxes">
                    <div class="check-acep">
                        <label id="terminos"><input type="checkbox" class="check" required>Acepto terminos y condiciones</label>
                    </div>
                    <div class="check-reci">
                        <label id="terminos"><input type="checkbox" class="check">Recibir novedades</label><br>
                    </div>
                </div>
                <div id="div-buttons">
                    <input id="button-acept" type="submit" value="Crear cuenta">
                </div>
            </form>
            <p class="line">___________________________________</p>

            <div id="div-buttons">
                <a href="http://localhost:3030/login" style="text-decoration: none"><input id="button-other" type="button" value="Ingresar"></a>
            </div>
        </section>
    </body>
</html>