<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Sig In</title>
    </head>
    <body>
        
        <a href="http://localhost:3030"><img src="/img/Logos/logo-negro.png" width="12%" height="12%" alt="Logo"></a>
        <h3 class="tittle"> Crear Cuenta</h3>
        <input id="input-login" type="text" required placeholder="Nombre" ><br>
        <input id="input-login" type="text" required placeholder="Apellido" ><br>
        <input id="input-login" type="text" required placeholder="Email" ><br>
        <input id="input-login" type="password" required placeholder="Contraseña" ><br>


        <label id="terminos"><input type="checkbox" class="check">Acepto terminos y condiciones</label>

        <label id="terminos"><input type="checkbox" class="check">Recibir novedades</label><br>

        <input id="button-acept" type="button" value="Crear cuenta" >
        <p class="line">___________________________________</p>
        <a href="http://localhost:3030/login" style="text-decoration: none"><input id="button-other" type="button" value="Ingresar" ></a>
    </body>
</html>