body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    margin: 0px;
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    margin-bottom: 10px;
}

.form-crear {
    margin-left: 20px;
    margin-right: 20px;
}

.seccion-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input{
    margin-bottom: 5px;
}