/*---------------------------- Estilos Home -----------------------------*/
.title-product-home{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 35px;
    margin-bottom: auto;   
}
.descripcion-product-home{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: auto;
}
#button-home{
    font-size: 18px;
    color:black;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color:transparent;
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 400px;
}
article{
    background-color:white; 
    border-bottom: solid 3px white;
    padding: 30%;
    margin-bottom:15px;
    text-align: center;
    box-sizing:border-box;
  }
  .auto {
    background-image: url('/img/auto/auto.jpg');
    background-size:cover;
  }
  .moto {
    background-image: url('/img/auto/auto.jpg');
    background-size:cover;
  }
  .monopatin {
    background-image: url('/img/auto/auto.jpg');
    background-size:cover;
  }
  div#general{
    margin: auto;
    margin-top: 5px;
    width: auto;
    height: auto;
    background-color: white;
    margin-bottom: 50px;
  }
  div#auto{
    margin: auto;
    margin-top: 5px;
    width: 600px;
    height: 510px;
    background-image: url('/img/auto/auto.jpg');
    background-position: center;
    background-size:cover;
    float:left; 
  }
  div#moto{
    margin: auto;
    margin-top: 5px;
    width: 600px;
    height: 250px;
    background-image: url('/img/moto/moto.jpg');
    background-position: center;
    background-size:cover;
    float:right;
  }
  div#monopatin{
    margin: auto;
    margin-top: 10px;
    width: 600px;
    height: 250px;
    background-image: url('/img/monopatin/monopatin.jpg');
    background-position: center;
    background-size:cover;
    float:right;
  }
  div#suscribir{
    margin: auto;
    margin-top: 15px;
    width: auto;
    height: auto;
    background-color: white;
  }
  #novedades{
    font-family: 'Open Sans', sans-serif;  
    text-align: left; 
    font-size: 20px;
    height: 35px;
    display: inline-block
  }