/*---------------------------- Estilos Home -----------------------------*/
.title-product-home{
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  font-size: 35px;
  margin-bottom: auto;   
}
.descripcion-product-home{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: auto;
}
#button-home{
  font-size: 18px;
  color:black;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  background-color:transparent;
  width: 250px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 400px;
}

.home-box{
display: block;
flex:100%;
max-width: 100%;
}
/* Slideshow container */
.slideshow-container {
max-width: auto;
position: relative;
margin-right: 10px;
margin-left: 10px;
}

.slideshow-container img {
  width: 100%;
}
.centrado{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #343A40;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centrado-bajo{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  color: #6C757D;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
align-self: flex-start;
}

.column {
flex: 50%;
padding: 0 4px;
}

.column img {
width: 100%;
height: 98%;
}

.section-suscribe{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 30px 15px;
  background-color: white;
}
.section-suscribe div{
  width: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.form-suscribe{
  border-radius: 20px;
  padding-left: 20px;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  height: 35px;
  width: 300px;
  margin: auto;
}
.button-suscribe{
  border-radius: 20px;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  height: 35px;
  width: 100px;
  margin: auto;
  text-align: center;
}

@media(min-width:900px){
.column {
   flex: 25%;
}

section#suscribir{
  flex: 25%;
  
}
#novedades{
  font-size: 18px;

}
#button-sus{
  border-radius: 20px;
  width: 80px;
  height: 40px; 
}
/*se ajusta el ancho del carrousel para navegacion web*/
.slideshow-container img {
  height:50vmax;  
  }
.centrado{
    font-size: 40px;
  }
.centrado-bajo{
    font-size: 15px;
  }
  .section-suscribe{
    align-items: center;
    padding: 15px 0px;
  }
  .section-suscribe div{
    width: 49%
  }
  .section-suscribe p {
    text-align: center;
  }
  .button-suscribe:hover {
    background-color: black;
    color: white;
}

}


/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}
}
Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}
}