body {
    font-family: 'Open Sans', sans-serif;
}
main{
    background-color: white;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    margin: 0px;
    text-align: center;
    width: auto;
}

h2{
    text-align: center;
}

h3{
    margin-bottom: 10px;
}

.button{
    color: black;
    border-radius: 20px;
    border-style: inset;
    border-color: black;
    border-width: 1px;
    background-color: transparent;
    width: 150px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonCreate{
    justify-content: space-around;
}

section {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 0px 15px 10px;
    width: auto;
}
section div { 
    width: 100%;
}

img {
    width: 100%;  
}
hr{
    width: auto;
    margin-block: 0;
}


@media (min-width:900px){
    .button:hover{
        background-color: black;
        color: white;
    }
    section{
        padding: 15px 25px 25px 25px;
    }
    section div { 
        width: 67%;
    }
    section img{
        width: 30%;
        padding: 15px 0px 0px 0px;
        height:40vh;
    }
}

