/*----------------------- Estilos pagina producto -----------------------*/
*{
    box-sizing: border-box;
}

.section-principal-producto{
    background-image: url('http://tesla-cdn.thron.com/delivery/public/image/tesla/b03da2fc-ecaa-4554-8df9-8f73e411f360/bvlatuR/std/2880x1800/model-3-hero-desktop');
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height:80vh;
    width: 100%;
    padding-top: 50px;
}
.title-principal-producto{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 35px;
    padding-top: 35px;  
}
.subtitulo-principal-producto{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
div{

}

.section-gris{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px 10px;
    background-color: gray;
}

.section-gris div { 
    width: 100%;
}

.section-gris div img {
    width: 100%;
    padding: 15px 0px 0px 0px;
}

.button-product {
}

.section-blanca{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px 10px;
    background-color: white;
}

.section-blanca div { 
    width: 100%;
}

.section-blanca div img {
    width: 100%;
    padding: 15px 0px 0px 0px;
}

@media (min-width:600px){

}

@media (min-width:900px){
    .section-gris{
        padding: 10px 20px;
    }
    .section-gris div { 
        width: 49%;
    }
    .section-blanca {
        padding: 10px 20px;
    }
    .section-blanca div{
        width: 49%;
    }
}