/*----------------------- Estilos pagina producto -----------------------*/
.section-principal-producto{
    background-image: url('http://tesla-cdn.thron.com/delivery/public/image/tesla/b03da2fc-ecaa-4554-8df9-8f73e411f360/bvlatuR/std/2880x1800/model-3-hero-desktop');
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height:80vh;
    width: 100%;
    padding-top: 50px;
}
.title-principal-producto{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 35px;
    padding-top: 35px;  
}
.subtitulo-principal-producto{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.section-gris-producto{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background-color: #E9ECEF;
}
.section-gris-left{
    float: left;
}
.section-gris-right{
    float: right;
}