/*--------------------- Estilos pagina LogIn/SigIn ----------------------*/
body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.header-logsin{
    background-color:white; 
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
#logo-logsin{
    float: left;
}
.titulo-in{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 35px;
}
#input-login{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    height: 35px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#input-login:focus{
    outline: none;
}
#olvi{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    display: block;
    text-align: center;
    padding-top: 5px;
}
.line{
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: auto;
}
.check-acep{
    align-self: flex-start;
}
.check-reci{
    align-self: flex-start;
}