
/* estilos home*/
header {
    background-color:white; 
    font-family: 'Open Sans', sans-serif;   
    font-size: 20px;
    border-bottom: solid 3px gray;
    padding: 22px;
    margin-bottom:15px;
    text-align: center;
    box-sizing:border-box;
}
.title{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 35px;
    margin-bottom: auto;   
}
.descripcion{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: auto;
}
#button-home{
    font-size: 18px;
    color:black;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color:transparent;
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
img{
    width:"12%";
    height:"12%";
    float: left;
}
icon{
    float:right;
    width:10%;
}

  article{
    background-color:white; 
    border-bottom: solid 3px white;
    padding: 30%;
    margin-bottom:15px;
    text-align: center;
    box-sizing:border-box;
  }
  .auto {
    background-image: url('/img/Logos/auto.jpg');
    background-size:cover;
  }
  .moto {
    background-image: url('/img/Logos/auto.jpg');
    background-size:cover;
  }
  .monopatin {
    background-image: url('/img/Logos/auto.jpg');
    background-size:cover;
  }
  div#general{
    margin: auto;
    margin-top: 5px;
    width: auto;
    height: auto;
    background-color: white;
  }
  div#auto{
    margin: auto;
    margin-top: 5px;
    width: 600px;
    height: 510px;
    background-image: url('/img/Logos/auto.jpg');
    background-position: center;
    background-size:cover;
    float:left; 
  }
  div#moto{
    margin: auto;
    margin-top: 5px;
    width: 600px;
    height: 250px;
    background-image: url('/img/Logos/moto.jpg');
    background-position: center;
    background-size:cover;
    float:right;
  }
  div#monopatin{
    margin: auto;
    margin-top: 10px;
    width: 600px;
    height: 250px;
    background-image: url('/img/Logos/monopatin.jpg');
    background-position: center;
    background-size:cover;
    float:right;
  }
  div#suscribir{
    margin: auto;
    margin-top: 15px;
    width: auto;
    height: auto;
    background-color: white;
  }
  #novedades{
    font-family: 'Open Sans', sans-serif;  
    text-align: left; 
    font-size: 20px;
    height: 35px;
    display: inline-block
  }
  #button-ingresarmail{
    font-size: 18px;
    color:black;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color:transparent;
    width: 250px;
    height: 35px;
    margin-right: 10px;
    margin-left: auto;
    display: block;
    display: inline-block
}
#button-vermas{
    font-size: 18px;
    color:black;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color:transparent;
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    display: inline-block;
}
footer {
    background-color:white; 
    font-family: 'Open Sans', sans-serif;   
    font-size: 20px;
    border-top: solid 3px gray;
    padding: 22px;
    margin-top:15px;
    text-align: center;
    box-sizing:border-box;
}