.tittle{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 35px;
}
/*------------------------ Info Usuario ------------------------------*/
#input-login{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    height: 30px;
    width: 226px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#input-login:focus{
    outline: none;
}

/*------------------------ Boton Principal ------------------------------*/
#button-acept{
    font-size: 18px;
    color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color: #343A40;
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#button-acept:focus{
    outline: none;
}
#button-acept:hover{
    background-color:#495057;
}
/*------------------------ Boton Secundario ------------------------------*/
#button-other{
    font-size: 18px;
    color:black;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color:white;
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#button-other:focus{
    outline: none;
}
#button-other:hover{
    background-color:#CED4DA;
}

/*------------------------ Otros ------------------------------*/

#olvi{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    display: block;
    text-align: center;
}
.line{
    text-align: center;
}

.check{
    width: 15px;
    height: 15px;
    
}
#terminos{
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
}


/*------------------------ Estilos pagina producto ------------------------------*/
* {
    box-sizing: border-box;
}


hr {
    border: 0;
    border-bottom: solid 1px gray;
    height:0;
    width: 100%;
    }

.header-producto {
    background-color:gray; 
    font-family: 'Open Sans', sans-serif;   
    font-size: 20px;
    height: 60px;
    padding: 5px;
}

.navigation {
    background-color:white;
    color: black;
    display: inline-block;
    outline: none;
    text-decoration: none;
}

.navigation-list{
    background-color: red;
    list-style: none;
    display: flex;
    margin: 5px;
}

.navigation-item{
    margin-right: 5vw;
}
.navigation-item2{
    margin-right: 1vw;
}

.section-principal-producto{
    background-image: url('http://tesla-cdn.thron.com/delivery/public/image/tesla/b03da2fc-ecaa-4554-8df9-8f73e411f360/bvlatuR/std/2880x1800/model-3-hero-desktop');
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}

.title-principal-producto{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 35px;
    padding-top: 35px;  
}
.subtitulo-principal-producto{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.section-gris-producto{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background-color: #E9ECEF;
    box-sizing: border-box;
}

.section-gris-left{
    float: left;
}

.section-gris-right{
    float: right;
}

