.title{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 35px;
}
/*------------------------ Info Usuario ------------------------------*/
#input-login{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    height: 30px;
    width: 226px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#input-login:focus{
    outline: none;
}

/*------------------------ Boton Principal ------------------------------*/
#button-acept{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    background-color: #343A40;
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    cursor: pointer;
}
#button-acept:focus{
    outline: none;
}
#button-acept:hover{
    background-color:#495057;
}
/*------------------------ Boton Secundario ------------------------------*/
#button-other{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    color:black;
    border-radius: 20px;
    border-style: inset;
    border-color: black;
    border-width: 0.5px;
    background-color:white;
    width: 250px;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    cursor: pointer;
}
#button-other:focus{
    outline: none;
}
#button-other:hover{
    background-color:#CED4DA;
}

/*------------------------ Otros ------------------------------*/

#olvi{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    display: block;
    text-align: center;
}
.line{
    text-align: center;
}


.check{
    width: 15px;
    height: 15px;
    
}
#terminos{
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
}
