<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/3eaccf5d38.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/Header.css">   
        <link rel="stylesheet" href="/css/Product.css">
        
        <title>Auto</title>
    </head>
<body>
    <%- include("../partials/header") %>
    <main>
        <section class="section-principal-producto">
            <div class="title-principal-producto">
                <h1>Auto</h1>
            </div>
            <div class="caracteristicas-principales">
                <div>
                    <p>Potencia</p>
                    <h2>250 kw</h2>
                </div>
                <div>
                    <p>Autonomia</p>
                    <h2>402 Mi</h2>
                </div>
                <div>
                    <p>Seguridad</p>
                    <h2>5 Airbags</h2>
                </div>
            </div>
        </section>
       </section> 
       <section class="section-gris">
        <div>
           <h3>Performance & Autonomía</h3>
           <p>Model 3 comes with the option of dual motor all-wheel drive, 20” Überturbine Wheels and Performance Brakes and lowered suspension for total control, in all weather conditions. And a carbon fiber spoiler improves stability at high speeds, all allowing Model 3 to accelerate from 0-60 mph in as little as 3.1 seconds.
        </p>
           <a href="http://localhost:3030/cart" style="text-decoration: none"><input class="button-product" type="button" value="Agregar al carrito"></a>
        </div>
        <div>
           <img src="/img/auto/auto-performance.jpg">
        </div>
       </section>
       <section class="section-blanca">
        <div>
            <img src="/img/auto/auto-interior.jpeg">
         </div>
        <div>
           <h3>Exterior</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, natus minima enim, molestias porro dignissimos provident illo itaque sed praesentium numquam animi quos similique sint repudiandae impedit, suscipit laudantium? Nulla!</p>
           <a href="http://localhost:3030/cart" style="text-decoration: none"><input class="button-product" type="button" value="Agregar al carrito"></a>
        </div>
       </section>
       <section class="section-gris">
        <div>
           <h3>Interior</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, natus minima enim, molestias porro dignissimos provident illo itaque sed praesentium numquam animi quos similique sint repudiandae impedit, suscipit laudantium? Nulla!</p>
           <a href="http://localhost:3030/cart" style="text-decoration: none"><input class="button-product" type="button" value="Agregar al carrito"></a>
        </div>
        <div>
           <img src="/img/auto/auto-interior.jpeg">
        </div>
       </section>
       <section class="section-suscribe">
           <div>
               <p>Suscribite para recibir todas nuestras novedades</p>
           </div>
           <div>
                <form action="/" method="POST">
                    <input class="form-suscribe" type="email" name="user" placeholder="Ingrese su email" required>
                    <input class="button-suscribe" type="submit" value="Suscribirse">
                </form>
           </div>
       </section>
    </main>
    
    <%- include("../partials/footer") %>

    </body>
</html>

</body>
</html>