<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Icono-negro.png">
        <link rel="stylesheet" href="/css/listProduct.css">
        <link rel="stylesheet" href="/css/Header.css">
        <title>Encontrá tu {{category}}</title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
            <h1> Encontrá tu {{category}} ideal</h1>
            <section>
                <img src="/img/auto/auto-performance.jpg">
                <div>
                    <h3>Modelo 1</h3>
                    <h4>$1.000</h4>
                    <p>Model 3 comes with the option of dual motor all-wheel drive, 20” Überturbine Wheels and Performance Brakes and lowered suspension for total control, in all weather conditions. And a carbon fiber spoiler improves stability at high speeds, all allowing Model 3 to accelerate from 0-60 mph in as little as 3.1 seconds.
                </p>
                    <a href="http://localhost:3030/login" style="text-decoration: none"><input class="button" type="button" value="Agregar al carrito"></a>
                </div>  
            </section>
            <hr>
            <section>
                <img src="/img/auto/auto-performance.jpg">
                <div>
                    <h3>Modelo 1</h3>
                    <h4>$1.000</h4>
                    <p>Model 3 comes with the option of dual motor all-wheel drive, 20” Überturbine Wheels and Performance Brakes and lowered suspension for total control, in all weather conditions. And a carbon fiber spoiler improves stability at high speeds, all allowing Model 3 to accelerate from 0-60 mph in as little as 3.1 seconds.
                </p>
                    <a href="http://localhost:3030/login" style="text-decoration: none"><input class="button" type="button" value="Agregar al carrito"></a>
                </div>  
            </section>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>