<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Rayito-celeste.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/LogIn.css">
        <link rel="stylesheet" href="/css/SigIn.css">
        <title>Log In</title>
    </head>
    <body>
        <header class="header-logsin">
            <div>
            <a href="/" class="logo-logsin"><img src="/img/Logos/logo-negro.png" alt="Logo"></a>
            </div>    
        </header>
       
        <section>
            <h3 class="titulo-in">Log in</h3>
            <form method="POST">
                <input type="email" name="email" placeholder="Email" id="input-login" required>
                <% if (locals.errors && errors.email) { %>
                    <div style="color: red; display: flex; justify-content: center; font-family: 'Open Sans', sans-serif; padding-top: 5px;"> 
                        <%= errors.email.msg %> 
                    </div>
                <% } %>

                <input type="password" name="password" placeholder="Contraseña" id="input-login"required>
                
                <div class="checkboxes" style="align-self: center;">
                    <div class="check-reci">
                        <label id="terminos"><input type="checkbox" class="check" name="remember_user">Recordar mi usuario</label><br>
                    </div>
                </div>

                <div id="div-buttons">
                    <input id="button-acept" type="submit" value="Ingresar">
                </div>

            </form>
            
            <div id="olvi">
                <a href="" style="text-decoration: none">Olvidé mi Contraseña</a>
            </div>

            <p class="line">___________________________________</p>
            
            <div id="div-buttons">
                <a href="/user/signin" style="text-decoration: none"><input id="button-other" type="button" value="Crear Cuenta"></a>
            </div>
        </section>
    </body>
</html>