<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/Logos/Rayito-celeste.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/LogIn.css">
        <link rel="stylesheet" href="/css/SigIn.css">
        <title>Log In</title>
    </head>
    <body>
        <header class="header-logsin">
            <div>
            <a href="/" class="logo-logsin"><img src="/img/Logos/logo-negro.png" alt="Logo"></a>
            </div>    
        </header>
       
        <section>
            <h3 class="titulo-in"> Hola </h3>
                <div>
           
                <%=user.firstname %>
                
                </div>
           
            <p class="titulo-in"><%=user.email %></p>
            <div id="div-buttons">
                <a href="/user/logout" style="text-decoration: none"><input id="button-acept" type="submit" value="Cerrar sesión"></a>
                <a href="/user/edit/" <%=user.id %> style="text-decoration: none"><input id="button-acept" type="submit" value="Modifcar Datos"></a>
            </div>
           
        </section>
    </body>
</html>