
<h1>Crear Producto</h1>
<form action "/product/productcreate" method="POST">
    <div>
        <label for="">name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="">description</label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="">price</label>
        <input type="text" name="price">
    </div>
    <div>
        <label for="">potency</label>
        <input type="text" name="potency">
    </div>
    <div>
        <label for="">autonomy</label>
        <input type="text" name="autonomy">
    </div>
    <div>
        <label for="">security</label>
        <input type="text" name="security">
    </div>
    <button type="submit">Crear</button>


</form>
